@using SAMTool.UI.Models;
@model IEnumerable<HomeViewModel>
@using SAMTool.UI.App_Start
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="row">
        <div>
            <h3><span class="ReportTitle"> System Access Management </span></h3>
            <div class="list-group">
                @{
                    if (Model != null)
                    {
                        foreach (HomeViewModel svm in Model)
                        {
                            <div class="list-group-item">

                                <div class="col-md-10">
                                    <a href="/@svm.Controller/@svm.Action" class="btn btn-link">
                                        <h4 class="list-group-item-heading"> @svm.LinkName </h4></a>
                                        <p class="list-group-item-text ListDesc">
                                            @svm.LinkDescription
                                        </p>
                                 </div>
                            </div>
                        }

                    }

                }


            </div>
        </div>
    </div>
</div>

